@import "../../utils/style/variables.scss";


.detailproduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px 10px;
    flex-wrap: wrap;
    padding: 142px 174px;
    flex-direction: column
    ;
    padding-bottom: 56px;

    &_title {
        margin: 25px 0 20px 0;
    }

    &_list {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 30px 0;
    }

    &_item {
        width: 300px;
    }

    &_sub,
    &_heart {
        display: flex;
        align-items: center;
        gap: 0 5px;
    }

    &_price {
        color: $black-three;
    }

    &_sub {
        justify-content: space-between;
    }

    &_button {
        margin-top: 49px;
    }

    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        margin-top: 0;
        padding: 0 104px;

        &_list {
            justify-content: space-between;
        }
    }


    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        padding: 0 40px;

        .photo {
            width: 250px;
            height: 250px;
        }

        .secondary-heading {
            font-size: 16px;
        }
    }



    @media screen and (max-width: 1023px) {
        padding: 50px 0;
        gap: 14px 0;

        &_button {
            margin-top: 10px;
            
        }

        .button {
            padding: 10px 27px;
            font-size: 16px;
        }

        .photo {
            width: 500px;
            height: 500px;
        }
    }

    @media screen and (min-width: 760px) and (max-width: 1023px) {
        flex-direction: column;

        &_list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction: row;
            gap: 30px 0;
        }

        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    @media screen and (max-width: 759px) {
        .photo {
            width: 300px;
            height: 300px;
        }
    }
}

.photo {
    width: 300px;
    height: 300px;
    margin: 0 0 1px;
    background-color: $mango;
}

.hearticon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.heart {
    color: $brownish-grey;
}