$family-korea: 'Montserrat', sans-serif;
$family-eng: 'Noto Sans', sans-serif;

$black-two: #111111;
$tomato: #ea4913;
$mid-blue: #245fc5;
$goldenrod: #fccb05;
$white: #fff;
$bright-oranges: #f96400;
$dark-maroon: #020001;
$black-three: #222222;
$mango: #ffb225;
$pumpkin-orange: #fa7b26;
$brownish-grey: #666666;
$dark-maroon: #020001;
$cerulean: #0565bb;
$sun-yellow: #fcd32a;
$dark-brown: #110e03;
$bright-orange-two: #ff5500;
$greyish: #a9a9a9;

